* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* Menu Section */

.menu-section {
 height: 10vh;
 width: 100%;
 margin-top: 5rem;
 display: flex;
 justify-content: center;
 flex-direction: column;
 
}

.buttons {
 display: flex;
 justify-content: center;
 gap: 3rem;
 /* background-color: red; */
 width: 100%;
 margin-top: 20px;
}

.buttons button {
 padding: 10px  20px;
 font-size: 1.2rem;
 font-weight: 600;
 border-radius: 8px;
 border: 2px solid #FA6E0F;
 color: #FA6E0F;
 outline: none;
 background: none;
}

.buttons button:hover {
background-color: #FA6E0F;
color: #fff;
cursor: pointer;
transition: 0.3s all linear;
}

.header-section {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.header-section h1 {
 font-size: 3rem;
}

.underline {
 background-color: #FA6E0F;
width: 4rem;
height: 5px;
border-radius: 10px;
margin-top: 5px;
}

/* Item Section  */

.menu-items {
 display: flex;
 justify-content: center;
 margin-top: 2.5rem;
}

.grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 20px;
}

.item {
 /* background-color: green; */
 height: 220px;
 width: 720px;
 display: flex;
 justify-content: space-between;
 padding: 10px;
}

.image {
 width: 100%;
 border: 5px solid darksalmon;
 background-color: darksalmon;
 border-radius: 8px;
 object-fit: cover;
 position: relative;
 margin-right: 20px;
 overflow: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}

.image img {
 width: 100%;
 height: 100%;
 position: absolute;
 border-radius: 5px;
}

.title {
 display: flex;
 justify-content: space-between;
}

.title h4 {
 font-size: 1.5rem;
}

.title h5 {
 font-size: 1.2rem;
 color: #FA6E0F;
}

.item-underline {
 background-color: #c5c5c5;
 padding: 1px;
}

.item-description {
 margin-top: 1.5rem;
}

.item-description p {
 inline-size: 350px;
 font-size: 1.4rem;
} 


/* Responsive for mobile devices */

/* max 900px screens */

@media (max-width:960px){
 .grid {
  grid-template-columns: repeat(1, 1fr);
 }
}

/*max 780px screens */

@media (max-width:420px){

 .menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
 }

 .grid {
  width: 90vw;
  grid-gap: 10px;
 }

 .image {
  width: 300px;
  height: 180px;
  margin-right: 10px;
 }


 .item-description p {
 font-size: 1rem;
} 

.title h4 {
 font-size: 1.2rem;
}

}